@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <!-- Chat users list -->
        <div class="col-md-9 col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading" id="onlineUsersCount">Online users: 0</div>
                <div class="panel-body panel-fixed-height">
                    <ul id="userList"></ul>
                </div>
            </div>
        </div>

        <!--Chat window-->
        <div class="col-xs-8 col-md-10" id="chatPanel">
            <div class="panel panel-default">
                <div class="panel-heading">Users' messages:</div>
                <div class="panel-body panel-fixed-height">
                    <ul id="messagesArea"></ul>
                </div>
                <input type="text" id="seleccionado" />
            </div>
            <div class="input-group">
                <input type="text" class="form-control" id="userMessage" placeholder="Write your message">
                <span class="input-group-btn">
                    <a class="btn btn-default" id="btnSendMessage">Send!</a>
                </span>
            </div>
        </div>

        
    </div>
</div>